body {
	background-color: #E6e6ff;
	color: #862d59;
	font-family: andale mono;
	line-height: 20px;
	text-align: center;
}

.btn-blue {
background-color:#99154E;
color: floralwhite;
padding: 6px 20px;
border-radius: 4px;
}

.btn-blue:hover {
background-color:#FFe6ff;
color: floralwhite;

}

h1 {
	color: #99004d;
	font-family: impact;
	text-align: center;
	letter-spacing: 0.25em;
}

a{
	text-decoration: none;
}
h2, h3, h4 {
	font-family: impact; 
	letter-spacing: 0.15em;
	color: #800060;
}

a {
	text-decoration: none;
	color: #ffe6ff;
}

a:hover {
	color: rgb(255, 0, 127);
}

.profile {
border-radius: 50%;
max-width: 100%;
height: auto;
}


#intro {
background-color: #ffe6ff;

}

#intro p {
margin-bottom: 20px;

}
#section2 {
background-color: #ff99cc;

}

#section3 {
background-color: #ff66b3;

}

#section4 {
background-color: #ff3399;

}

#section5 {
background-color: #e60073;

}
.font-styles {
	margin-bottom: 5px;
	justify-content: center;
	border-radius: 1px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	margin: 70px;
	border: 2px solid;
	padding: 12px;
}

.list-inline {
list-style: none;
padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 30px;
	color: #FFDDCC;
}

.list-inline i:hover {
	color: #99154E;
}

#section4 {
  text-align: center;

}

.elfsight-app-834d7745-25fa-4065-b200-c209efd16b5d {
  margin: 0 auto;
  display: flex;
justify-content: center;
align-items: center;

}